/Compiled units
/Demo/__history
/Demo/Win32/Debug
/Demo/Win32/Release
/Demo/Win64/Debug
/Demo/Win64/Release
/Images
/packages/d25/__history
/packages/d25/__recovery
/src/__history
/src/__recovery
*.local
*.identcache
*.~dcr
*.~dfm
*.~dpr
*.~dpk
*.~ini
*.~lng
*.~pas
*.~res
*.$$$
*.bak
*.dcp
*.dcu
*.dsv
*.exe
*.tvsconfig
